#vtv-scoreboard {
  .blue, .red {
    color: #ffffff;
  }

  .blue {
    background-color: rgb(85, 125, 145);

    &.swapped {
      background-color: rgb(195, 70, 70);
    }
  }

  .red {
    background-color: rgb(195, 70, 70);

    &.swapped {
      background-color: rgb(85, 125, 145);
    }
  }

  .map-container {
    padding: 4px 2px;
    border-bottom: 1px solid #d3d3d3;

    &.selected {
      border-top: 2px solid lightgreen;
      border-bottom: 2px solid lightgreen;
    }
  }

  .radio {
    padding-left: 20px;
  }
}